@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 907px) {
    font-size: 50%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  @media only screen and (max-width: 907px) {
    font-size: 2rem;
  }
}
main {
  height: 100%;
}
