// Primary
$color-desaturated-Red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);

// Neutral
$color-dark-grayish-red: hsl(0, 6%, 24%);

// Gradients
$color-white-1: hsl(0, 0%, 100%);
$color-white-2:hsl(0, 100%, 98%);
$color-light-red: hsl(0, 74%, 74%);
$color-very-light-red:hsl(0, 80%, 86%);
