@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
.hero {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr;
  transition: all 2s; }
  .hero__body {
    padding: 0 15rem;
    min-width: 100%;
    background: linear-gradient(135deg, #fff5f5, #fff5f5);
    display: flex;
    flex-direction: column; }
  .hero__logo__comtainer {
    margin: 4rem 0 10rem 0; }
  .hero__logo {
    width: 15rem; }
  .hero__main-title, .hero__light-title {
    padding-bottom: 2.5rem;
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    color: #ce9797; }
  .hero__main-title {
    font-weight: 600;
    color: #413839; }
  .hero__paragraph {
    margin-bottom: 4rem;
    width: 45rem;
    line-height: 2.5rem;
    color: #ce9797; }
  .hero__form-group {
    padding-bottom: 1rem;
    width: 45rem;
    position: relative;
    display: flex;
    align-items: center; }
  .hero__input-text {
    width: 100%;
    padding: 1.5rem 10.5rem 1.5rem 3rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: 50rem;
    border: #d9cacd 0.2rem solid;
    outline: none;
    color: #413839;
    background-color: transparent; }
    .hero__input-text::placeholder {
      color: #d9cacd; }
  .hero__icon {
    position: absolute;
    right: 23%; }
  .hero__btn {
    padding: 1.4rem 4rem;
    border-radius: 50rem;
    border: none;
    outline: none;
    background: linear-gradient(to right, #f8bfbf, #ee8c8c);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -1%; }
    .hero__btn:hover {
      background: #f8bfbf;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
      cursor: pointer; }
  .hero__error-message {
    padding-left: 3.2rem;
    font-size: 1.3rem;
    color: #f96262; }
  .hero__img-container {
    background-color: red; }
  .hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.invalid__email {
  padding-right: 13rem;
  border-color: #f96262; }

.hide {
  display: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }
